<nav class="topnav">
  <a>雍傅数字化生产管理系统</a>
  <a class="nav-link" routerLink="/overview" routerLinkActive="active">总览</a>
  <a class="nav-link" routerLink="/manufacture" routerLinkActive="active">生产</a>

  <a class="nav-link" routerLink="/inventory" routerLinkActive="active">产品</a>

  <a class="nav-link" routerLink="/stock" routerLinkActive="active">配件</a>

  <a class="nav-link" routerLink="/employee" routerLinkActive="active">人员</a>

  <div fxLayout="row" fxLayoutAlign="end center" >
    <p class="whiteout">欢迎，{{this.jwtTokenService.decodedToken.sub}}</p>
    <button mat-stroked-button class="action navbar-login nav-link" *ngIf="!auth.user; else logoutTemplate" routerLink="/login" routerLinkActive="active"> 登陆 </button>
    <ng-template #logoutTemplate>
      <button mat-stroked-button class="action pointer navbar-login nav-link"> Logout </button>
    </ng-template>
  </div>

</nav>
