/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */
:root{
  --logoblue: rgb(95, 141, 157);
  --highlightblue: rgb(52, 152, 219);
  --lowkeyblue: rgb(41, 128, 185);
  --deepblue: rgb(0, 18, 66);
  --darkblue: rgb(52, 73, 94);
  --infoyellow: rgb(209, 123, 15);
  --infopeel: rgb(255, 160, 28);
  --humblegreen: rgb(159, 183, 152);
  --forestgreen: rgb(10, 50, 0);
  --warnred: rgb(192, 57, 43);
  --coral: rgb(239, 111, 108);
  --backwardgrey: rgb(127, 140, 141);
  --lightgold: rgb(220, 196, 142);
  --bggrey: rgb(242, 245, 247);
  --bglight: rgb(242, 245, 247);
  --headerblue: rgb(0, 93, 124);
}

.clickable:hover {
  cursor: pointer;
}

.slogan {
  color: var(--logoblue);
}

html, body {
  height: 100%;
  background-color: var(--bggrey);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//mat-card {
//  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 50px 0 rgba(0, 0, 0, 0.2);
//}

mat-card-header.dark-header, div.dark-header {
  background-color: var(--headerblue);
  //border-radius: 5px;
  position: relative;
  height: 40px;
}

mat-card-header.dark-header p, div.dark-header p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ghostwhite;
}

img.logo-normal {
  width: 200px;
}

img.profile {
  object-fit: cover;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img.profile-small {
  object-fit: cover;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img.scenario {
  object-fit: cover;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

img.scenario-small {
  object-fit: cover;
  width: 240px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.sub-header {
  margin: 25px 25px;
  color: var(--darkblue);
}

.body-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.column-container {
  margin: 25px;
  height: 100%;
}

.row-container {
  padding: 10px;
  width: 100%;
}

.item-container {
  margin: 5px;
}

.data-table {
  width: 100%;
}

.fullfill {
  width: 100%;
}

.main-content {
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.ety-percent-fill {
  width: 80%
}

.nty-percent-fill {
  width: 90%
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

p.vertical-middle {
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(-50%, -50%);   /* 4 */
}

p.highlight, b.highlight {
  color: var(--headerblue);
}

p.subtitle {
  font-weight: bold;
}

p.whiteout {
  color: whitesmoke;
}

p.info, b.info {
  color: darkorange;
}

p.warn, b.warn {
  color: var(--warnred)
}

p.super-warn {
  background-color: red;
  color: white;
}

p.success, b.success {
  color: darkgreen;
}

p.cancelled {
  text-decoration: line-through;
}

p.record {
  color: midnightblue;
}

p.detail {
  font-size: small;
}

p.promise {
  color: #2980b9;
}

p.piece {
  vertical-align: middle;
  magin-left: 10px;
  margin-right: 10px;
}

p.super-piece {
  vertical-align: middle;
  magin-left: 20px;
  margin-right: 20px;
}

button.insert {
  margin: 5px;
}

button.scare {
  margin: 5px;
  color: white;
  background-color: darkred;
}

button.chip {
  margin: 5px;
  color: white;
  background-color: var(--deepblue);
}

button.call {
  margin: 5px;
  color: white;
  background-color: var(--infoyellow);
}

button.action {
  margin: 5px;
  color: white;
  background-color: var(--logoblue);
}

button.info {
  margin: 5px;
  color: white;
  background-color: var(--infoyellow);;
}

button.warn {
  margin: 5px;
  color: white;
  background-color: var(--warnred);;
}

button.next {
  margin: 5px;
  color: var(--logoblue);
  border: groove 1px var(--logoblue);
}

button.view {
  margin: 5px;
  color: var(--forestgreen);
  background-color: var(--humblegreen);
}

button.btn-fixed-height {
  height: 10%;
}

button.export {
  margin: 5px;
  color: whitesmoke;
  background-color: darkolivegreen;
}

button.option {
  margin: 5px;
  color: white;
  background-color: var(--logoblue);
  opacity: 0.5;
}

button.option:hover {
  color: white;
  opacity: 1;
}

.button-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  text-align:center;
}

.greybg {
  background-color: var(--bggrey);
}

.greyborder {
  border: 1px solid lightgrey;
}

.distance {
  padding: 2%
}

.side-super-distance {
  padding-left: 5%;
  padding-right: 5%;
}

div.right-align {
  text-align: right;
}

div.isolated {
  margin: 2%;
}

div.vertical-isolated {
  margin-top: 2%;
  margin-bottom: 2%;
}

div.super-isolated {
  margin: 5%;
}

div.justify {
  display:flex;
  text-align: justify
}
